:root {
    --size: calc(100vw / 15);
    --square-size: 48px;
	--color: #000;
	--text: #fff;
 	--border-size: 2px;
    --center-border: 3px;
	--border-spacing: 1px;
}
body {
	background-color: var(--color);
	color: var(--text);
	font-family: sans-serif;
	font-size: 16px;
	caret-color: transparent;
}
body.layout {
	display: flex;
	flex-wrap: wrap;
	column-gap: 20px;
	align-items: flex-start;
}
a, a:visited, a:link, a:active {
	color: inherit;
}
th:not([align]) {
	text-align: left;
}

table.game {
    border-spacing: var(--border-spacing);
    border-collapse: separate;
}
.game td {
    width: var(--square-size);
    height: var(--square-size);
    text-align: center;
    -moz-border-radius: calc(var(--square-size) / 5);
    border-radius: calc(var(--square-size) / 5);
    outline: var(--border-size) solid #282828;
    outline-offset: -1px;
	padding: 0;
}

.game tbody td {
	color: #282828;
}
.game tbody td.transparent {
	 color: white;
	font-weight: bold;
	outline: none;
 }
.game tbody .center {
    outline: var(--center-border) solid white;
    outline-offset: calc(var(--center-border) * -1);
}

.game thead td, .game tfoot td {
    background-color: white;
    color: #282828;
    font-weight: 1000;
    font-size: calc(var(--square-size) / 2);
    border: none;
    outline: none;
}

.game thead .center, .game tfoot .center {
    color: red;
}

[data-col="7"] {
    color:red!important;
}

.game .star,
.game .choosing,
.game .chosen,
.game .circle,
.game .other,
.game .self {
	position: relative;
}
.game .star:before,
.game .choosing:after,
.game .chosen:after,
.game .circle:before {
	display: block;
	position: absolute;
	text-align: center;
    top: 0;
    left: 0;
}
.game .star:before {
	content: "\2605";
	color: rgba(255, 255, 255, 0.7);
	-webkit-text-stroke: 2px white;
	top: -2px;
	left: calc(var(--square-size) / 7);
	font-size: calc(var(--square-size) - calc(var(--square-size) / 4));
}

.game .circle:before {
    content: "\2B24";
    color: rgba(255, 255, 255, 0.3);
    left: calc(var(--square-size) / 12);
    font-size: calc(var(--square-size) - calc(var(--square-size) / 4));
}

.game .choosing:after,
.game .chosen:after {
	content: "\2717";
	top: -2px;
	left: calc(var(--square-size) / 4);
	font-size: calc(var(--square-size) - calc(var(--square-size) / 7));
}
.game .chosen:after {
    color: #000000b3;
}
.other:after {
	content: "";
	position: absolute;
    top: 0;
    bottom: 0;
	left: calc(50% - 1px);
    width: 3px;
    background-color: #282828;
	transform: rotate(45deg);
	transform-origin: center;
}
.self:after {
	content: "\25EF";
	position: absolute;
	top: -3px;
	left: 5px;
	color: #282828;
	font-size: calc(var(--square-size) * 0.8);
}

#status {
	margin-top: 0.5em;
	margin-bottom: 0;
	height: 2.0em;
}
#status.hilite {
	color: fuchsia;
	transition: color 200ms linear;
}
#status button {
	padding: 8px 16px;
}
#challenge.hilite {
    color: #282828;
	font-weight: bold;
}
.colors-stats {
	display: flex;
	align-items: flex-start;
}
.colors-stats > * {
	margin-top: 1em;
	margin-right: 1em;
	margin-bottom: 0;
}

.transparent td {
	color: white;
	font-weight: bold;
}

.dice-cont {
	display: flex;
}
.dice-cont,
.dice-line:not(:empty) {
	margin-top: 1em;
}
.dice-cont button {
	height: 36px;
	line-height: 36px;
	padding: 0 16px;
}
#dice {
	user-select: none;
	display: flex;
}
#dice > * {
    background-color: white;
    width: var(--square-size);
    height: var(--square-size);
    border: none;
    font-weight: 1000;
	text-align: center;
    font-size: calc(var(--square-size) / 2);
	margin-right: 5px;
	cursor: pointer;
    padding: 0;
	box-sizing: border-box;
    -moz-border-radius: calc(var(--square-size) / 5);
    border-radius: calc(var(--square-size) / 5);
}
#dice > .number {
    background-color: #282828;
    color: white;
}

#dice > .color:after {
    content: "\271A";
    display: inline-block;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    position: relative;
    top: 0;
    left: 0;
    font-size: calc(var(--square-size) - 5px);
}

#dice > .color + .number:not(.disabled),
#dice > .color + .number.disabled + .number {
	margin-left: 10px;
}
#dice > .selected {
	border-color: white;
	box-shadow: 0 0 10px white;
}
#dice > .disabled {
	transform: scale(0.8) translate(0, -10px);
	color: #999;
}
#dice > .color.disabled:before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #fff3;
}
#dice > .color.disabled {
	order: -1;
}
#dice > .number.disabled {
	order: 99;
}

.dice-cont button,
.dice-cont em {
	margin-right: 20px;
}

body.solo #next-turn > .state {
	display: none;
}
body.solo:not([data-state]) #next-turn > .state.start,
body.solo[data-state="turn"] #next-turn > .state.turn,
body.solo[data-state="last"] #next-turn > .state.end,
body.solo[data-state="done"] #next-turn > .state.restart,
body.multi #next-turn {
	display: grid;
}
body.solo #next-turn > .state.turn > *,
body.multi #next-turn > * {
	grid-area: 1 / 1;
}
body.with-choosing #next-turn .not-choosing,
body:not(.with-choosing) #next-turn .choosing {
	visibility: hidden;
}

[data-number]:after {
	content: attr(data-number);
    position: relative;
    top: calc(var(--square-size) / 4);
}
[data-color="?"]:after,
[data-number="0"]:after {
	content: '?';
    position: relative;
    top: calc(var(--square-size) / 4);
}
[data-color="?"],
#dice > [data-number="0"] {
    background-color: #282828;
	color: white;
}
[data-color="g"] {
    background-color: #95c033;
}

#dice [data-color="g"]:after {
    color: #95c033;
}

[data-color="y"] {
    background-color: #fcca01;
}

#dice [data-color="y"]:after {
    color: #fcca01;
}

[data-color="b"] {
    background-color: #3bb9e5;
}

#dice [data-color="b"]:after {
    color: #3bb9e5;
}

[data-color="p"] {
    background-color: #df2048;
}

#dice [data-color="p"]:after {
    color: #df2048;
}

[data-color="o"] {
    background-color: #ef8119;
}

#dice [data-color="o"]:after {
    color: #ef8119;
}

[data-color="?"]:after {
    color: #282828;
}

table.players {
	border-spacing: 0;
}
.players th,
.players td {
	padding: 3px;
}
.players .me .name {
	color: lime;
	font-weight: bold;
}
.players .kicked .name {
	text-decoration: line-through;
	font-style: italic;
}
.players tr:not(.kickable) .kick,
.players tr.kicked .kick,
.players tr:not(.turn) .turn {
	display: none;
}

p.error {
	color: red;
	font-weight: bold;
}

#no-connection {
	display: none;
	background-color: red;
	color: white;
	padding: 5px;
	text-align: center;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}

.game .full-color {
    color: #2828288a;
    font-weight: 1000;
    font-size: calc(var(--square-size) / 1.5);
	}

@media all and (max-width: 375px) {
    .game td {
        outline-offset: 0;
	}
}

@media all and (max-width: 425px) {
	:root {
        --square-size: var(--size);
        --border-size: 1px;
        --center-border: 1px;
        --border-spacing: 0px;
}
    body {
        margin-left: 0;
        margin-right: 0;
}
	}
